<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Candido</title>
</head>
<body>
<div style="margin:0px auto;max-width:600px">

    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width:100%">
        <tbody>
        <tr>
            <td style="direction:ltr; font-size:0px; padding:20px 0; padding-left:20px; padding-right:20px; text-align:center">
                <div style="margin:0px auto; max-width:560px">

                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="width:100%">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:10px 25px;padding-left:0;word-break:break-word">
                                                <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                                       style="border-collapse:collapse;border-spacing:0px">
                                                    <tbody>
                                                    <tr>
                                                        <td style="width:140px">

                                                            <img alt=""
                                                                 src="https://mmarcoo.altervista.org/cand/uploads/candido_nw_logo_29082024_4.png"
                                                                 style="border:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px"
                                                                 width="200" height="auto">

                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div style="display:none;padding:10px 0px">
                                                    <img src="https://ci3.googleusercontent.com/meips/ADKq_NZb_asvFCI6K4cMASHavkZTnzZDkJSQYAOyW0r2CHopE3NX0j7NlwAt0hdDGomtPZ-irlSkM06VZ7eYwePPaYUTZaGiD1_8eCYmPm5WRlZrwWTg9LLlGkdhbJm8a10-gTk8D8nV_Bhkt1xtM9aoRSVypuEkjAPkzozxRelcfBzB=s0-d-e1-ft#https://raw.githubusercontent.com/pagopa/io-app-email-templates/assets-v1.0.0/assets/logo_app_io_white.png"
                                                         width="36px" style="display:none">
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>


                <div style="margin:0px auto;max-width:560px">

                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="width:100%">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;padding-bottom:8px;text-align:center">
                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:10px 25px;padding-top:24px;padding-right:0px;padding-bottom:8px;padding-left:0px;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:13px;font-weight:bold;line-height:1;text-align:left;color:#17324d">
                                                    <h1 style="font-size:32px;line-height:36px;margin:0">
                                                        Welcome to Candido
                                                    </h1>
                                                </div>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:10px 25px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:16px;font-weight:regular;line-height:24px;text-align:left;color:#17324d">
                                                    <p>
                                                        Hey Marco, <br>
                                                        your registration is now complete.<br>
                                                        We're excited to have you on board and can't wait to see all
                                                        that you'll accomplish with Candido by your side!
                                                    </p>
                                                    <br>
                                                    <p>Registration data:</p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>


                <div style="margin:0px auto; border-radius:8px; max-width:560px; background: #fafafa;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="width:100%;border-radius:8px">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:24px;text-align:left">
                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:bold;line-height:20px;text-align:left;color:#17324d">
                                                    Identity Provider
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:regular;line-height:20px;text-align:left;color:#17324d">
                                                    Candido ID
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:10px 25px;padding-top:16px;padding-right:0px;padding-bottom:16px;padding-left:0px;word-break:break-word">
                                                <p style="border-top:solid 1px #e3e7eb;font-size:1px;margin:0px auto;width:100%"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:bold;line-height:20px;text-align:left;color:#17324d">
                                                    Full Name
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:regular;line-height:20px;text-align:left;color:#17324d">
                                                    Marco Tasca
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:10px 25px;padding-top:16px;padding-right:0px;padding-bottom:16px;padding-left:0px;word-break:break-word">
                                                <p style="border-top:solid 1px #e3e7eb;font-size:1px;margin:0px auto;width:100%"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:bold;line-height:20px;text-align:left;color:#17324d">
                                                    E-mail
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:regular;line-height:20px;text-align:left;color:#17324d">
                                                    tascamarcoo@gmail.com
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:10px 25px;padding-top:16px;padding-right:0px;padding-bottom:16px;padding-left:0px;word-break:break-word">
                                                <p style="border-top:solid 1px #e3e7eb;font-size:1px;margin:0px auto;width:100%"></p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:bold;line-height:20px;text-align:left;color:#17324d">
                                                    Indirizzo IP
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:regular;line-height:20px;text-align:left;color:#17324d">
                                                    151.46.59.79
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div style="margin:0px auto;max-width:560px">

                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="width:100%">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:0px;text-align:center">
                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-size:0px;padding:10px 25px;padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:16px;font-weight:regular;line-height:24px;text-align:left;color:#17324d">
                                                    <p style="margin-top:0px">
                                                        <br>
                                                        See you soon,
                                                        <br aria-hidden="true">
                                                        the Candido team.
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div style="margin:0px auto;max-width:560px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="width:100%">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;padding-bottom:0px;padding-top:0px;text-align:center">
                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="center"
                                                style="font-size:0px;padding:0px;padding-top:16px;padding-bottom:16px;word-break:break-word">
                                                <p style="border-top:solid 1px #e3e7eb;font-size:1px;margin:0px auto;width:100%"></p>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>


                <div style="margin:0px auto;max-width:560px">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation"
                           style="width:100%">
                        <tbody>
                        <tr>
                            <td style="direction:ltr;font-size:0px;padding:20px 0;padding-top:0px;text-align:center">
                                <div style="font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation"
                                           style="vertical-align:top" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="left" style="font-size:0px;padding:0px;word-break:break-word">
                                                <div style="font-family:Titillium Web,system-ui,sans-serif;font-size:14px;font-weight:regular;line-height:20px;text-align:left;color:#5c6f82">
                                                    <p>
                                                        Receive this communication to verify that the registration on
                                                        Candido was performed by you.
                                                    </p>
                                                    <p>
                                                        <strong>
                                                            Do not reply to this email address:
                                                            it is used only for sending
                                                            of this communication and, not being
                                                            monitored, you would not receive
                                                            answer.
                                                        </strong>
                                                    </p>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>