name: Build candido-server

on:
  pull_request:
    paths:
      - 'candido-server/**'
      - '.github/workflows/pull_request_github_actions.yml'

jobs:
  build:
    name: Build candido-server
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Set up Gradle
        uses: gradle/gradle-build-action@v3

      - name: Build with Gradle
        run: gradle clean build -x test
